---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ aws_instance_retag_configmap_playbooks }}"
  namespace: "{{ aws_instance_retag_namespace }}"
data:
  playbook.yml: |
{% filter indent(width=4) %}
    {% include "./playbook.yaml.j2" %}
{% endfilter %}

  retag.yml: |
{% filter indent(width=4) %}
    {% include "./retag.yaml.j2" %}
{% endfilter %}
